.header {
	background-color: black;
	opacity: 70%;  
	 position: relative;
  width: 1686x;
  margin-top: -2%; 
  height: 141px; 
}


.headerLogo {
  height: 125px;
  width: 125px;
	float: left;
}



.Title {
	font-weight: 600;
	font-size: 3rem;
	position: relative;	
	left: 1500px;
	top: 75px; 
	margin: 42px auto 0 calc((( 100% - 1140px)/2)+ 439px);
	transform: translate(-50%, -50%);
	letter-spacing: 0.1em;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;
	text-shadow: 8px 8px #cdb863, 20px 20px #000000;
}

body {
	background-image: url('AboutPage.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin:0px; 
	height:100%;
	overflow-x: hidden;
	overflow-y: hidden;
	
}

.NavigationMenu {
position: relative; 
	top: -25px; 
	left: 75px; 
	
}
.NavigationMenu li {
    margin-right: 10px;
	
}

.navigationContainer {
	    margin-right: 40px;
	
	
}

.btnHome {
	position: relative;
	border-radius: 10px;
	top: -10px; 
	width: 150px;
	height: 25px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color: White;
	background: black;
	border: 2px solid #cdb863;
	box-shadow: 5px 5px 0 black, -5px -5px 0 black, -5px 5px 0 black, 5px
		-5px 0 black;
}

.btnAbout {
	position: relative;
	border-radius: 10px;
	width: 75px;
	height: 25px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color: White;
	background: black;
	border: 2px solid #cdb863;
	box-shadow: 5px 5px 0 black, -5px -5px 0 black, -5px 5px 0 black, 5px
		-5px 0 black;
}

.btnTest {
	position: relative;
	border-radius: 10px;
	width: 75px;
	top: 10px; 
	height: 25px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color: White;
	background: black;
	border: 2px solid #cdb863;
	box-shadow: 5px 5px 0 black, -5px -5px 0 black, -5px 5px 0 black, 5px
		-5px 0 black;
}


.InfoBoxDiv {
	position: relative;
	left: 0px;
	top: 0px;
	height: 25%;
	width: 100%;
}



.InfoBox {
	resize: none;
	width: 35%;
	float: left;
	height: 300px;
	width: 100%;
	color: #cdb863;
  background-color: black;
  	 	font-size: 16px; 
  	 	border-color: #cdb863; 
}

footer {
	text-align: center; 
	background-color: black;
	opacity: 70%;  
	 position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
.footerText  {
	color: White; 
}