.header {
	background-color: black;
	opacity: 70%;  
	 position: relative;
  width: 102%;
  margin-top: -2%;   
}

.headerLogo {
		  height: 125px;
  width: 125px;
	float: left; 
}
.TestTitle {
	font-weight: 600;
	font-size: 3rem;
	position: relative;	
	left: 725px;
	top: 25px; 
	margin: 42px auto 0 calc((( 100% - 1140px)/2)+ 439px);
	transform: translate(-50%, -50%);
	letter-spacing: 0.1em;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;
	text-shadow: 8px 8px #cdb863, 20px 20px #000000;
}

body {
	background-image: url('PubCrawlerTestPicturejpeg.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
 	overflow-x: hidden; 
    overflow-y: hidden;
}
.TestColumn {
	position: relative; 
	width: 25%;
	float: left;
	height: 400px; 
	 left: 750px;
	 top: 0px;  
	  background-color: black;
	  font-size: 16px; 
  	border-radius: 10px;
  	color: white; 
}
.TestingButton:hover {
  transition-duration: 0.1s;
  background-color: #3A3A3A;
}

select {
	position: relative; 
	width: 25%;
	float: left;
	height: 400px; 
	 left: 175px;
	 top: 0px;  
	  background-color: transparent;
	  font-size: 16px; 
  	border-radius: 10px;
  	color: cdb863; 
  	border-color: transparent; 
  	
}

.TestingButton:focus {
 outline: none;
  background-color: #cdb863;

}
.TestingButton {
	position: relative;
	width: 150px;
	height: 50px;
	top: 345px; 
	left: 40px; 
	cursor: pointer;
	border-radius: 10px;
	font-size: 22px;
	font-weight: bold;
	color: White;
	background: black;
	border: 2px solid #cdb863;
	box-shadow: 5px 5px 0 black, -5px -5px 0 black, -5px 5px 0 black, 5px
		-5px 0 black;
}
.NavigationMenu {
	position: relative; 
	top: -25px; 
	left: 75px;  
	
}
.NavigationMenu li {
    margin-right: 10px;
	
}

.navigationContainer {
	    margin-right: 40px;
		
}

.btnHome {
	position: relative;
	border-radius: 10px;
	top: -10px; 
	width: 150px;
	height: 25px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color: White;
	background: black;
	border: 2px solid #cdb863;
	box-shadow: 5px 5px 0 black, -5px -5px 0 black, -5px 5px 0 black, 5px
		-5px 0 black;
}

.btnAbout {
	position: relative;
	border-radius: 10px;
	width: 75px;
	height: 25px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color: White;
	background: black;
	border: 2px solid #cdb863;
	box-shadow: 5px 5px 0 black, -5px -5px 0 black, -5px 5px 0 black, 5px
		-5px 0 black;
}

.btnTest {
	position: relative;
	border-radius: 10px;
	width: 75px;
	top: 10px; 
	height: 25px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color: White;
	background: black;
	border: 2px solid #cdb863;
	box-shadow: 5px 5px 0 black, -5px -5px 0 black, -5px 5px 0 black, 5px
		-5px 0 black;
}
footer {
	text-align: center; 
	background-color: black;
	opacity: 70%;  
	 position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
.footerText  {
	color: White; 
}